/*------------------------------------------------------------------
[Style Index]

0. Custom reset and utilities 
1. NavBar
2. Homepage
3. Order layout
4. Address layout
5. Confirmation layout
6. Finish layout
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
[0. Custom Reset and utilities]

Reseting styles for individual elements and create utility classes
-------------------------------------------------------------------*/
/* line 19, main.scss */
body {
  font-size: 16px;
  font-family: "PT Sans", serif;
  margin: 0;
  padding: 0;
  color: #fff;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 32, main.scss */
.margin-top-10 {
  margin-top: 10px;
}

/* line 36, main.scss */
.margin-top-20 {
  margin-top: 20px;
}

/* line 40, main.scss */
.margin-top-30 {
  margin-top: 30px;
}

/* line 44, main.scss */
.margin-top-40 {
  margin-top: 40px;
}

/* line 48, main.scss */
.margin-top-50 {
  margin-top: 50px;
}

/* line 52, main.scss */
.margin-top-60 {
  margin-top: 60px;
}

/* line 56, main.scss */
.margin-bottom-30 {
  margin-bottom: 30px;
}

/* line 60, main.scss */
.bold {
  font-weight: 600;
}

/* line 64, main.scss */
.red-button, .red-button:hover {
  background-color: #e45050;
}

/* line 68, main.scss */
.green-button, .green-button:hover {
  background-color: #7cd48a;
}

/* line 72, main.scss */
.card-layout {
  max-width: 600px;
  margin-top: 40px;
  color: black;
}

/* line 78, main.scss */
.clear-fix {
  clear: both;
}

/* line 82, main.scss */
.back-btn {
  font-size: 0.8em;
  padding-top: 30px;
  color: #A8A8A8;
  cursor: pointer;
}

/* line 89, main.scss */
.back-arrow {
  padding-right: 10px;
}

/* line 93, main.scss */
.check {
  line-height: 36px !important;
}

/*------------------------------------------------------------------
[1. NavBar]

-------------------------------------------------------------------*/
/* line 103, main.scss */
#nav-bar {
  background-color: rgba(255, 255, 255, 0.1);
}
/* line 105, main.scss */
#nav-bar .white {
  background-color: white;
}
/* line 108, main.scss */
#nav-bar a {
  font-size: 0.75em;
  font-weight: 600;
}
/* line 112, main.scss */
#nav-bar .text-black {
  color: black;
}
/* line 115, main.scss */
#nav-bar .text-grey {
  color: #dddddd;
}
/* line 118, main.scss */
#nav-bar .address-text-black, #nav-bar .finish-text-black {
  color: black;
}
/* line 121, main.scss */
#nav-bar li img {
  padding-top: 25px;
}
/* line 124, main.scss */
#nav-bar .brand-logo {
  margin-left: 2%;
}
/* line 126, main.scss */
#nav-bar .brand-logo img {
  display: inline;
  height: 20px;
  margin-top: 20px;
  padding-right: 10px;
}

/*------------------------------------------------------------------
[2. Homepage]

-------------------------------------------------------------------*/
/* line 140, main.scss */
#homepage {
  margin-top: 40px;
}
/* line 142, main.scss */
#homepage .today-meal {
  font-size: 1.25em;
}
/* line 144, main.scss */
#homepage .today-meal span {
  border-bottom: solid 3px #e83e3e;
  font-weight: 600;
  white-space: nowrap;
}
/* line 150, main.scss */
#homepage .red-button {
  margin-top: 80px;
  box-shadow: 0 5px 0 0 #bc3232;
  position: relative;
}
/* line 154, main.scss */
#homepage .red-button:hover {
  top: 2px;
  box-shadow: 0 3px 0 0 #bc3232;
}
/* line 159, main.scss */
#homepage .tomorrow-meal {
  font-size: 1.25em;
  margin-top: 180px;
}
/* line 163, main.scss */
#homepage .made-with-love {
  margin-top: 20px;
  font-size: 0.8em;
}
/* line 167, main.scss */
#homepage .scroll-img {
  height: 25px;
  margin-top: 20px;
}

/*------------------------------------------------------------------
[3. Order Layout]

-------------------------------------------------------------------*/
/* line 179, main.scss */
#order-layout ul {
  padding-left: 40px;
}
/* line 180, main.scss */
#order-layout ul li {
  display: inline-block;
}
/* line 181, main.scss */
#order-layout ul li:not(:last-child) {
  padding-right: 25px;
}
/* line 188, main.scss */
#order-layout .circle-20 {
  height: 50px;
  width: 50px;
  line-height: 50px;
  border: 3px solid #dddddd;
  border-radius: 50%;
  color: #666;
  background: #fff;
  text-align: center;
  vertical-align: middle;
}
/* line 199, main.scss */
#order-layout .circle-30 {
  height: 70px;
  width: 70px;
  line-height: 70px;
  border: 3px solid #dddddd;
  border-radius: 50%;
  color: #666;
  background: #fff;
  text-align: center;
  vertical-align: middle;
}
/* line 210, main.scss */
#order-layout .circle-40 {
  height: 100px;
  width: 100px;
  line-height: 100px;
  border: 3px solid #dddddd;
  border-radius: 50%;
  color: #666;
  background: #fff;
  text-align: center;
  vertical-align: middle;
}
/* line 221, main.scss */
#order-layout .hovered-circle:hover {
  background-color: #e83e3e;
  cursor: pointer;
  color: white;
}
/* line 226, main.scss */
#order-layout .active-circle {
  background-color: #e83e3e;
  color: white;
}
/* line 230, main.scss */
#order-layout select {
  background-color: #ededed;
  color: black;
  opacity: 0.4;
  margin-top: 15px;
  border: 1px solid black;
}
/* line 237, main.scss */
#order-layout .add-ingredient {
  color: #ffd486;
  padding-top: 8px;
  cursor: pointer;
}
/* line 242, main.scss */
#order-layout .ingredients-row {
  margin-top: -20px;
  margin-left: 23%;
  margin-right: 23%;
}
/* line 246, main.scss */
#order-layout .ingredients-row span {
  background-color: #fff3db;
  width: 130px;
  height: 25px;
  line-height: 25px;
  color: #aaa397;
  padding-right: 10px;
  position: relative;
}
/* line 255, main.scss */
#order-layout .ingredients-row img {
  position: absolute;
  top: 11px;
  right: 5px;
}

/*------------------------------------------------------------------
[4. Address layout]

-------------------------------------------------------------------*/
/* line 269, main.scss */
#address-layout p {
  padding-bottom: 15px;
  font-size: 0.8em;
}
/* line 273, main.scss */
#address-layout input {
  border: 2px solid #ededed;
  padding-left: 10px;
  background-color: rgba(237, 237, 237, 0.5);
}
/* line 278, main.scss */
#address-layout .row {
  margin-bottom: 0;
}
/* line 281, main.scss */
#address-layout .street-no, #address-layout .city {
  padding-top: 27px;
}

/*------------------------------------------------------------------
[5. Confirmation layout]

-------------------------------------------------------------------*/
/*------------------------------------------------------------------
[6. Finish layout]

-------------------------------------------------------------------*/
/* line 299, main.scss */
.close-btn {
  margin: 0 auto;
}
