@charset UTF-8;

/*------------------------------------------------------------------
[Style Index]

0. Custom reset
1. NavBar
2. Main Layout
3. Content styling (Order)
4. Content styling (Address)
5. Content styling (Finish)
-------------------------------------------------------------------*/


/*------------------------------------------------------------------
[0. Custom Reset]

Reseting styles for individual elements
-------------------------------------------------------------------*/

html, body {
	background: url(/img/background-picture.jpeg) no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;

}

body {
	font-size: 16px;
	font-family: "PT Sans", serif;
	margin: 0;
	padding: 0;
	color: #fff;
}


.red-button, .red-button:hover{
	background-color: #e83e3e;
}

/*------------------------------------------------------------------
[1. NavBar]

-------------------------------------------------------------------*/

#nav-bar{
	
	background-color:rgba(255,255,255,0.1);
}

#nav-bar a{
	font-size: 0.75em;
	font-weight: 600;
}


.brand-logo{
	margin-left: 2%;
}

.brand-logo img{
	display: inline;
	height: 20px;
	margin-top: 20px;
	padding-right: 10px;
}


/*------------------------------------------------------------------
[2. Main Layout]

-------------------------------------------------------------------*/

#main-layout{
	margin-top:40px;
}

#main-layout .today-meal, .tomorrow-meal{
	font-size: 1.25em;
}

#main-layout .today-meal span{
	border-bottom: solid 3px #e83e3e ;
	font-weight: 600;
	white-space: nowrap;

}

#main-layout .red-button{
	margin-top:80px;
	box-shadow: 0 5px 0 0 #bc3232;
	position: relative;
}

#main-layout .red-button:hover{
	top:2px;
	box-shadow: 0 3px 0 0 #bc3232;
}

#main-layout .tomorrow-meal{
	margin-top: 180px;
}

#main-layout .made-with-love{
	margin-top: 20px;
	font-size: 0.8em;
}

#main-layout .scroll-img{
	height: 25px;
	margin-top: 20px;
}